In [11]:
import pandas as pd
movies_df=pd.read_csv('data1.csv')

In [12]:

# Initialize an empty list to store user-item interactions
interactions_data = []

# Iterate through the original dataset and extract user-item interactions
for index, row in movies_df.iterrows():
    user_ids = row['user_ids']
    movie_title = row['movie_title']
    rating = row['rating']
    interactions_data.append({'user_id': user_ids, 'movie_title': movie_title, 'rating': rating})

# Create a new DataFrame from the extracted interactions data
user_interactions_df = pd.DataFrame(interactions_data)

# Display the new DataFrame
user_interactions_df.head()

,user_id,movie_title,rating
0,"['daisyrowley', 'John Chard', 'msbreviews', 't...",avatar,7.580
1,"['SoSmooth1982', 'Geronimo1967']",pirates of the caribbean: at world's end,7.252
2,"['cutprintchris', 'Frank Ochieng', 'tanty', 'R...",spectre,6.540
3,"['travisbell', 'Chris!', 'GeekMasher', 'Im_Inf...",the dark knight rises,7.778
4,"['Frank Ochieng', 'bodokh', 'John Chard', 'Bul...",star wars: episode vii - the force awakens ...,7.285

In [13]:
import pandas as pd

# Load your dataset containing user interactions (user_id, movie_title, rating)
  # Replace "your_dataset.csv" with the filename of your dataset

# Split the string of user IDs into separate rows
user_interactions_df['user_id'] = user_interactions_df['user_id'].str.strip("[]").str.split(", ")

# Explode the 'user_id' column to have each user on its own row
user_interactions_df = user_interactions_df.explode('user_id')

# Example Usage
user_interactions_df.head(20)

               user_id                               movie_title  rating
0        'daisyrowley'                                    avatar   7.580
0         'John Chard'                                    avatar   7.580
0         'msbreviews'                                    avatar   7.580
0            'tomasfv'                                    avatar   7.580
0         'Yuva_Kumar'                                    avatar   7.580
1       'SoSmooth1982'  pirates of the caribbean: at world's end   7.252
1       'Geronimo1967'  pirates of the caribbean: at world's end   7.252
2      'cutprintchris'                                   spectre   6.540
2      'Frank Ochieng'                                   spectre   6.540
2              'tanty'                                   spectre   6.540
2             'Rangan'                                   spectre   6.540
2         'msbreviews'                                   spectre   6.540
2       'Geronimo1967'                                   spectre   6.540
2  'GenerationofSwine'                                   spectre   6.540
2          'mooney240'                                   spectre   6.540
2            'drystyx'                                   spectre   6.540
3         'travisbell'                     the dark knight rises   7.778
3             'Chris!'                     the dark knight rises   7.778
3         'GeekMasher'                     the dark knight rises   7.778
3        'Im_Infinity'                     the dark knight rises   7.778

In [14]:
import pandas as pd

# Define a function for movie-based collaborative filtering recommendations
def movie_based_recommendations(movie_title, user_interactions_df, n=10):
    # Filter interactions for the given movie title
    movie_interactions = user_interactions_df[user_interactions_df['movie_title'] == movie_title]

    # Get users who rated the given movie highly (e.g., rating >= 4)
    high_rated_users = movie_interactions[movie_interactions['rating'] >= 4]['user_id'].unique()

    # Get interactions of high-rated users
    high_rated_users_interactions = user_interactions_df[user_interactions_df['user_id'].isin(high_rated_users)]

    # Group by movie_title and aggregate ratings
    aggregated_ratings = high_rated_users_interactions.groupby('movie_title')['rating'].mean()

    # Sort aggregated ratings to get recommendations
    recommendations = aggregated_ratings.sort_values(ascending=False).head(n)

    return recommendations

# Example Usage
movie_title = input("Enter the movie title: ")
recommendations = movie_based_recommendations(movie_title, user_interactions_df)
print("Recommendations based on", movie_title, ":")
for movie, rating in recommendations.items():
    print(movie, "-", "Rating:", rating)

Recommendations based on iron man :
12 angry men - Rating: 8.542
the dark knight - Rating: 8.515
pulp fiction - Rating: 8.489
the lord of the rings: the return of the king - Rating: 8.479
the good, the bad and the ugly - Rating: 8.468
seven samurai - Rating: 8.455
fight club - Rating: 8.441
psycho - Rating: 8.436
interstellar - Rating: 8.432
once upon a time in america - Rating: 8.423